
<div fxLayoutAlign="center center" fxFlexFill class="login-container">
    <mat-card fxFlex = "20">
      <mat-toolbar color= primary>Welcome back</mat-toolbar>
      <form fxLayoutAlign="stretch" fxLayout="column" class ="login-form">
          <mat-form-field appearance="fill">
              <mat-label>Enter your e-mail</mat-label>
              <input matInput type = "email" placeholder="Ex. hello@world.com">
          </mat-form-field>
          <mat-form-field appearance="fill">
              <mat-label>Enter your password</mat-label>
            <input matInput type = password placeholder="password">
          </mat-form-field>
          <button mat-stroked-button type="submit">Sign in</button>
      </form>    
    </mat-card> 
</div>