<div fxLayoutAlign= "center center" fxFlexFill class="signup-container">
    <mat-card fxFlex = "20">
        <mat-toolbar color="primary">Sign up</mat-toolbar>
      <form fxLayoutAlign= "stretch" fxLayout="column" class = "signup-container">
        <mat-form-field >
          <mat-label>First Name</mat-label>
          <input matInput placeholder="Ex. John">
        </mat-form-field>
    
        <mat-form-field >
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Ex. James">
          </mat-form-field>


          <mat-form-field >
            <mat-label>Phone Number</mat-label>
            <input matInput type = "tel" placeholder="Ex. 5614449870">
          </mat-form-field>

          <mat-form-field >
            <mat-label>Email</mat-label>
            <input matInput type = "email" placeholder="Ex. johnjames@gmail.com">
          </mat-form-field>
          <mat-form-field >
            <mat-label>Password</mat-label>
            <input matInput type = "password" placeholder="Ex. 5614449870">
          </mat-form-field>
          <mat-form-field >
            <mat-label>Confirm Password</mat-label>
            <input matInput type = "password" placeholder="Ex. 5614449870">
          </mat-form-field>
          <button mat mat-stroked-button type= "Csubmit">Create Account</button>
      </form>
      </mat-card>
  </div>

