<app-main-navbar></app-main-navbar>
<router-outlet></router-outlet>
<nav>
    <a routerLink="/signup">Signup</a>
    <a routerLink="/login">Login</a>
  </nav>
<!-- <div fxLayoutAlign="center center" fxFlexFill class="login-container">
    <mat-card fxFlex = "20">
      <mat-toolbar color= primary>Welcome back</mat-toolbar>
      <form fxLayoutAlign="stretch" fxLayout="column" class ="login-form" (submit)="login()">
          <mat-form-field appearance="fill">
              <mat-label>Enter your e-mail</mat-label>
              <input matInput type="email" name = "email" placeholder="Ex. hello@world.com" [(ngModel)]="email">
          </mat-form-field>
          <mat-form-field appearance="fill">
              <mat-label>Enter your password</mat-label>
            <input matInput type="password" name = "passowrd" placeholder="password" [(ngModel)]="password">
          </mat-form-field>
          <button mat-stroked-button type="submit">Sign in</button>
      </form>    
    </mat-card> 
</div> -->
