<div>
    <mat-card class = "welcome-header">
        <mat-card-title>Welcome to Morning Pages</mat-card-title>
    </mat-card>
</div>
<body>
    <div class="banner">
       <div class="content">
        <h1>Morning Pages</h1>
        <p> Get started now</p>
        <div>
            <button type="button" onclick="location.href = '//localhost:4200/sign-up';"><span></span> Sign Up</button>
            <button type="button" onclick="location.href = '//localhost:4200/login';"><span></span> Login</button>
        </div>
       </div>
    </div>
</body>
<div class="gap">
    <h1> The Easiest Way to Express Yourself 📝 </h1>
    <p>Have the option to keep or dispose your journal 🗃 🗑</p>
    <div class="cta">
        <button mat-raised-button onclick="location.href = '//localhost:4200/sign-up';">Join Now!</button>
        <button mat-raised-button color="primary" onclick="location.href = '//localhost:4200/about';">Learn More</button>
      </div>
</div>
<div class="explain">
    <div class="explain">
      
    </div>
    <div class="startnow">
        
    </div>
    <div class="options"></div>
    <div class="about">
        <div class="aboutcontent">
        </div>
    </div>
    <div class="ABOUT">
    <button mat-raised-button color="primary" onclick="location.href = '//localhost:4200/about';">Keep Reading About Us</button>
    </div>
  
