h1{
    text-align: center;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size:xx-large;
}
.example-card
{
    width: 400px;
    height: 200px;
    border-radius: 25px;
}
.banner{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url('../../../../ISEProject/images/doodle.jpg');
    background-position: center;

}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: 60px;
}
.content p{
    margin: 30px auto;
    font-weight: 100;
    line-height: 20px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #8f00ff;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;

}
span{
    background:#8f00ff;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;


}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
.explain h1{
    font-size: 30px;
    margin-top: 60px;
    color: black;
    
}
.gap h1{
    font-size: 30px;
    margin-top: 60px;
    color: black;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding-top: 30px; 
}
 .gap p{
    font-size: 30px;
    margin-top: 60px;
    color:black;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding-bottom: 50px;
    
}
.image1
{
    width: 200px;
    height: 200px;
    background-size: cover;
    background-image: url('../../../../ISEProject/images/doodle.jpg');
    background-position: center;
    border-radius: 25px;
    margin-right: 100px;
    float:left;

}
.explain{
    width: 100%;
    height: 100%;
    background-size:cover;
    background-image: url('../../../../ISEProject/images/Dekkocopy.jpg');
    background-position: center;
    background-repeat: no-repeat;
}
.options{
    width: 100%;
    height: 100%;
    background-size:cover;
    background-image: url('../../../../ISEProject/images/options.jpg');
    background-position: center;
    background-repeat: no-repeat;
}
.startnow{
    text-align: center;
    position:relative;
}

.startnow button{
    width: 200px;
    padding: 15px 0;
    text-align: right;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid black;
    background: transparent;
    color: black;
    cursor: pointer;
    position:absolute;
    overflow: hidden;
    
}
.about
{
    width: 100%;
    height: 100%;
    background-size:cover;
    background-image: url('../../../../ISEProject/images/newabout.jpg');
    background-position: center;
    background-repeat: no-repeat;
}
.aboutbutton
{
    position: center;
}
.cta
{
    position: relative;
    left: 33%;
}
.ABOUT{
    position: relative;
    left: 40%; 
    font-size: 30px;
}